html{
  scroll-behavior: smooth;
}
.home{
  background-image: url('../images/backgrounds/h_img.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color:white;
  padding-top: 100px;
  text-align: center;
}
.home h1{
  padding: 2px;
  margin: 3px;
}
.home p{
  padding: 2px;
  padding-bottom: 220px;
}
#logo{
  margin-top: 120px;
  width: 80px;
  height: 80px;
  padding bottom: 10px;
}
